{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :tools/usage {:ns-default neil-proj.neil-proj}
 :aliases
 {:run-m {:main-opts ["-m" "neil-proj.neil-proj"]}
  :run-x {:ns-default neil-proj.neil-proj
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}} 
  :neil {:project {:name neil-proj/neil-proj}}}}
